.env
config/.env
config/app_local.php
.phpunit.cache
.DS_Store
.DS_Store?

logs/*
!logs/.gitkeep
tmp/*
!tmp/.gitkeep

node_modules
vendor
testdb.sqlite
tests.sqlite

.git
.github
.idea
.vscode
K8S
tests
